@import url('../styles/reset.css');
@import url('../styles/main.css');
@import url('../styles/footer.css');
@import url('../styles/variables.css');

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-ExtraBold.woff2') format(woff2);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Bold.woff2') format(woff2);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-SemiBold.woff2') format(woff2);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Yellowtail';
    src: url('../fonts/Yellowtail-Regular.woff2') format(woff2);
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Open-sans';
    src: url('../fonts/OpenSans-Regular.woff2') format(woff2);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

html {
    height: 100%;
}

body {
    max-width: 1920px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    background-color: #fff;
    padding-top: 69px;
    
}

.header {
    max-width: 1596px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    margin-bottom: 69px;
}

.menu__list {
    display: flex;
    gap: 30px;
    align-items: center;
}

.cart {
    display: flex;
    align-items: center;
}

.header__form {
    width: 376px;
    height: 66px;
    background-color: #FAFAFA;
    border-radius: 36px;
    margin-right: 18px;
    padding-top: 5px;
    
}

.header__form img {
    margin-right: 6px;
    margin-left: 124px;
}

.menu__item a {
    font-family: inherit;
    font-weight: 700;
    font-size: 1.25rem;
    color: var(--color-primary);
    letter-spacing: 0;
    line-height: 100%;
}

.cart_btn {
    display: flex;
    align-items: center;
    justify-content: center;  
    gap: 12px;
    max-width: 159px; 
    height: 66px;
    border-radius: 33px;
    border: 1px solid #E0E0E0;
    background-color: transparent;
    padding-right: 15px;
    padding-left: 5px;
}

.cart_text {
    font-family: 'Roboto';
    font-weight: 600;
    font-size: 1.125rem;
    color: var(--color-primary);
    line-height: 100%;
    letter-spacing: 0;
}

@media  (max-width: 1200px) {
    .header {
        gap: 20px;
    }

    .menu__list {
        gap: 15px;
    }

    .menu__item a {
        font-size: 1rem;
    }   
}
